<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/logo.png') }}">;
        <link rel="stylesheet" href="{{ asset('vendor/uikit/css/uikit.min.css') }}">
        {% block stylesheets %}
        {% endblock %}

        {#  UIKIT JS #}
        <script src="{{ asset('vendor/uikit/js/uikit.js') }}"></script>
        <script src="{{ asset('vendor/uikit/js/uikit-icons.js') }}"></script>
        {#  ./UIKIT JS #}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
    <header>
        {{include ('_navbar.html.twig') }}
    </header>
    <main class="uk-container">
        {% block body %}{% endblock %}
    </main>
    <footer> <p class="uk-text-center text-body-secondary">@My-Sortir - {{ 'now' | date('Y') }}</p></footer>
    </body>
</html>
